.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #e6e6e6;
  height: 80px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-name {
  font-size: 24px;
  font-weight: 600;
  margin-right: 20px;
}
.logo-img {
  height: 55px;
  padding-right: 10px;
  padding-left: 70px;
}
td {
  text-align: right;
}
.navbar-button {
  background-color: #e6e6e6;
  border: none;
  margin: 0 32px;
  padding: 10px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
}
.navbar-button:hover {
  cursor: pointer;
  background-color: #b1afaf;
  padding: 10px;
  border-radius: 10%;
}
.modal-container {
  position: absolute;
}
.modal-overlay-center {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.home-signup {
  background-color: white;
  border-radius: 4px;
  min-height: 25vh;
  min-width: 500px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-signup {
  height: 30px;
  margin-right: 10px;
}
.title-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.title-wrap div {
  font-size: 20px;
  font-weight: 700;
}
.home-login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form-input {
  border: none;
  margin-bottom: 21px;
  font-size: 21px;
  padding: 8px;
  background-color: #ece7e7;
}
.home-login-button {
  margin-top: 18px;
  background-color: #fe024e;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 500;
}
.redirect {
  color: grey;
  text-align: center;
  padding-top: 10px;
}
span {
  color: #fe024e;
  cursor: pointer;
}
